extends layout

block content
  noscript
    h3 Chart Top Artists
    ul
      each artist in topArtists
        li
          a(href="/artists/" + encodeURIComponent(artist.name))
            img(src="#{artist.image}")
            span #{artist.name}

  script.
    __topArtists__ = !{JSON.stringify(topArtists)}