extends layout

block content
  h3 Today's Hot Artists
  ul(data-hot-artists)
    each artist in hotArtists
      li 
        a(data-id="#{artist.id}" href="/artists/#{urlify(artist.name)}/#{artist.id}") #{artist.name}