doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    script.
      (function() {
        window.__aerobatic__ = {
          pageId: !{JSON.stringify(pageId)}
        };

        var cockpitUrl = "!{aerobatic.airportUrl}/!{aerobatic.clientId}/cockpit";
        if (window.location.search.indexOf("__simulator__") !== -1)
          cockpitUrl += "?simulator=1";

        document.write('\x3Cscript src="' + cockpitUrl + '">\x3C/script>');
      })();

    block head
  body
    h2 Barnstormer Music
    form(method="get", action="/search")
      input(type="text")
      input(type="submit", value="Search")

    block content

