doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    script.
      var __aerobatic__ = {
        pageId: !{JSON.stringify(pageId)}
      };

    script(src="#{aerobatic.airportUrl}/#{aerobatic.clientId}/script")
    block head
  body
    h2 Barnstormer Music
    form(method="get", action="/search")
      input(type="text")
      input(type="submit", value="Search")

    block content

