doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Barnstorer Music - Official Aerobatic Sample App
    link(type="text/css", rel="Stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
    link(type='text/css', rel="Stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(href='http://fonts.googleapis.com/css?family=Ceviche+One', rel='stylesheet')
    link(type='text/css', rel="Stylesheet", href="welcome.css")
  body
    .container
      .row.hero
        .col-lg-3
          img.img-thumbnail.img-responsive(src="barnstormer.jpg")
        .col-lg-9
          h1 Barnstormer Music
          p.lead The official sample app of the Aerobatic UX delivery platform for nimble web apps
          p
            a.btn.btn-lg.btn-success(role="button", href="http://www.aerobaticapp.com") Learn More about Aerobatic
      br
      br
      p.lead Select a user experience below or point to your own GitHub repo
      .well
        .row
          .col-lg-4
            h3 Angular/Bootstrap 3
            p
              a.btn.btn-primary(role="button", href="/home?owner=aerobatic&repo=barnstormer-ui-angular") View
              | &nbsp;&nbsp;
              a.btn.btn-default(role="button", href="https://github.com/aerobatic/barnstormer-ui-angular/fork")
                i.fa.fa-code-fork.fa-lg
                |&nbsp;&nbsp;Fork

          .col-lg-4
            h3 Ember/Foundation
            p.lead Coming Soon
            p
              button.btn.btn-primary(type="button", href="#", disabled) View
              | &nbsp;&nbsp;
              button.btn.btn-default(type="button", href="#", disabled)
                i.fa.fa-code-fork.fa-lg
                |&nbsp;&nbsp;Fork


          .col-lg-4
            h3 jQuery/jQueryUI
            p.lead Coming Soon
            p
              button.btn.btn-primary(type="button", href="#", disabled) View
              | &nbsp;&nbsp;
              button.btn.btn-default(type="button", href="#", disabled)
                i.fa.fa-code-fork.fa-lg
                |&nbsp;&nbsp;Fork


      .panel.panel-default
        .panel-heading
          i.fa.fa-github.fa-lg  Get Started Developing with Aerobatic
        .panel-body
          p The easiest way to get started with Aerobatic is to create your own UX layer for this sample app. Before you get started, make sure you have Aerobatic installed:

          div.console &gt; npm install -g aerobatic

          br
          .well
            ol
              li
                h5 Fork one of the repos below and clone it locally
              li
                h5 Visit your Aerobatic dashboard
                form.form-inline(role="form", method="get", action="/home")
                  .form-group
                    input.form-control(type="text", name="owner", placeholder="GitHub user/org")
                  .form-group
                    input.form-control(type="text", name="repo", placeholder="Forked repository")
                  .form-group
                    button.btn.btn-primary(type="submit") Visit Dashboard
                
              li
                h5 Toggle simulator mode on
              li
                h5 Make local code changes
              li
                h5 Refresh www.barnstormermusic.biz/home?owner=[your_github_user]&amp;repo=[forked_repo_name] to see your changes
              li
                h5 Commit your changes to GitHub
              li
                h5 Return to your dashboard and play around with the traffic control rules
              li
                h5 Toggle simulator mode off to see the site as the internet sees it
              li
                h5 Repeat steps 3-8

      .footer
        p &copy; AerobaticApp 2014